# SPDX-License-Identifier: GPL-2.0
#
#  Sima.ai copyright
config ARM_MALI_ISP_C71AE
	tristate "ISP drivers for MALI C71AE"
	select VIDEOBUF2_CORE
	#select VIDEOBUF2_VMALLOC
	select VIDEOBUF2_DMA_CONTIG
	select V4L2_ASYNC
	select V4L2_MEM2MEM_DEV
	help
		Driver for ARM MALI ISP C71AE configured to run on SIMA.AI Micheangelo platform. If unsure, say N.
