// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 SiMa ai
 */

/dts-v1/;
/plugin/;

&{/} {
    imx678_vana_1: csi1_fixedregulator@0 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vana_1";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        enable-active-high;
        startup-delay-us = <300000>;
        regulator-always-on;
    };

    imx678_vdig_1: csi1_fixedregulator@1 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vdig_1";
        regulator-min-microvolt = <110000>;
        regulator-max-microvolt = <110000>;
        regulator-always-on;
    };

    imx678_vddl_1: csi1_fixedregulator@2 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vddl_1";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    imx678_clk_1: csi1_camera-clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <24000000>;
    };

    i2cmux0: i2cmux@0 {
        compatible = "i2c-mux-gpio";
        i2c-parent = <&i2c52>;
        #address-cells = <1>;
        #size-cells = <0>;
        /* Set port6 gpio6 to GPIO_ACTIVE_LOW mode */
        mux-gpios = <&port6 6 0>;
        i2cmux0p0: i2c@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };
};

&port5 {
    cam-hog0 {
        gpio-hog;
        /* Set port5 gpio6 to GPIO_ACTIVE_HIGH mode */
        gpios = <6 0>;
        output-high;
        line-name = "cam0_powdn";
    };
};

&i2c52 {
    status = "okay";
    clock-frequency = <400000>;
    #address-cells = <1>;
    #size-cells = <0>;
};

&csi1 {
    status = "okay";
};

&axi_vdma1 {
    status = "okay";
};

&mipi_dphy_rx1 {
    status = "okay";
};

&v4l2video1 {
    status = "okay";
};

&v4l2vdma1 {
    status = "okay";
};

&csi10in {
    clock-lanes = <0>;
    data-lanes = <1 2>;
    link-frequencies = /bits/ 64 <1040000000>;
    remote-endpoint = <&cam10out>;
    clock-continuous;
};

&i2cmux0p0 {
    tca6424_camera_1: tca6424@22 {
        compatible = "ti,tca6424";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x22>;
        status = "okay";
    };

    imx678: imx678@42 {
        compatible = "sony,imx678";
        reg = <0x42>;

        clocks = <&imx678_clk_1>;
        clock-names = "xclk";

        VANA-supply = <&imx678_vana_1>;
        VDIG-supply = <&imx678_vdig_1>;
        VDDL-supply = <&imx678_vddl_1>;

        reset-gpios = <&tca6424_camera_1 0 0>;
        boot-gpios = <&tca6424_camera_1 6 0>;

        camera_mipi_lanes = <2>;
        cam_fw_name = "imx678_cam_fw.bin";

        port@1 {
            cam10out: endpoint@0 {
                clock-lanes = <0>;
                data-lanes = <1 2>;
                link-frequencies = /bits/ 64 <1040000000>;
                remote-endpoint = <&csi10in>;
                clock-continuous;
            };
        };
    };
};
