// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 SiMa ai
 */

/dts-v1/;
/plugin/;

&{/} {
    ar0234_vana_1: csi2_fixedregulator@0 {
        compatible = "regulator-fixed";
        regulator-name = "ar0234_vana_1";
        regulator-min-microvolt = <2800000>;
        regulator-max-microvolt = <2800000>;
        enable-active-high;
        startup-delay-us = <300000>;
        regulator-always-on;
    };

    ar0234_vdig_1: csi2_fixedregulator@1 {
        compatible = "regulator-fixed";
        regulator-name = "ar0234_vdig_1";
        regulator-min-microvolt = <1050000>;
        regulator-max-microvolt = <1050000>;
        regulator-always-on;
    };

    ar0234_vddl_1: csi2_fixedregulator@2 {
        compatible = "regulator-fixed";
        regulator-name = "ar0234_vddl_1";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    ar0234_clk_1: csi2_camera-clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <27000000>;
    };

    i2cmux0: i2cmux@0 {
        compatible = "i2c-mux-gpio";
        i2c-parent = <&i2c52>;
        #address-cells = <1>;
        #size-cells = <0>;
        /* Set port6 gpio6 to GPIO_ACTIVE_LOW mode */
        mux-gpios = <&port6 6 0>;

        i2cmux0p1: i2c@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };
};

&port5 {
        cam-hog1 {
                gpio-hog;
                /* Set port5 gpio7 to GPIO_ACTIVE_HIGH mode */
                gpios = <7 0>;
                output-high;
                line-name = "cam1_powdn";
        };
};

&i2c52 {
    status = "okay";
    clock-frequency = <400000>;
    #address-cells = <1>;
    #size-cells = <0>;
};

&csi2 {
    status = "okay";
};

&axi_vdma2 {
    status = "okay";
};

&mipi_dphy_rx2 {
    status = "okay";
};

&v4l2video2 {
    status = "okay";
};

&v4l2vdma2 {
    status = "okay";
};

&csi20in {
    clock-lanes = <0>;
    data-lanes = <1 2>;
    link-frequencies = /bits/ 64 <270000000>;
    remote-endpoint = <&cam20out>;
    clock-continuous;
};

&i2cmux0p1 {
        ar0234p1: ar0234@10 {
                compatible = "onsemi,ar0234";
                reg = <0x10>;

                clocks = <&ar0234_clk_1>;
                clock-names = "xclk";

                VANA-supply = <&ar0234_vana_1>;
                VDIG-supply = <&ar0234_vdig_1>;
                VDDL-supply = <&ar0234_vddl_1>;

                port@1 {
                        cam20out: endpoint@0 {
                                clock-lanes = <0>;
                                data-lanes = <1 2>;
                                link-frequencies = /bits/ 64 <270000000>;
                                remote-endpoint = <&csi20in>;
                                clock-continuous;
                        };
                };
        };
};
