// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2026 SiMa ai
 */

/dts-v1/;
/plugin/;

#include "modalix-som-connectech-0CAM.dtsi"

&{/} {
    imx678_vana_0: csi0_fixedregulator@0 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vana_0";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        enable-active-high;
        startup-delay-us = <300000>;
        regulator-always-on;
    };

    imx678_vdig_0: csi0_fixedregulator@1 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vdig_0";
        regulator-min-microvolt = <110000>;
        regulator-max-microvolt = <110000>;
        regulator-always-on;
    };

    imx678_vddl_0: csi0_fixedregulator@2 {
        compatible = "regulator-fixed";
        regulator-name = "imx678_vddl_0";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    imx678_clk_0: csi0_camera-clk {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <37125000>;
    };
};

&csi00in {
    clock-lanes = <0>;
    data-lanes = <1 2>;
    link-frequencies = /bits/ 64 <1040000000>;
    remote-endpoint = <&cam00out>;
    clock-continuous;
};

&i2c0 {
    tca6424_camera0: tca6424@22 {
        compatible = "ti,tca6424";
        gpio-controller;
        #gpio-cells = <2>;
        reg = <0x22>;
        status = "okay";
    };

    imx678s0: imx678@42 {
        compatible = "sony,imx678";
        reg = <0x42>;

        clocks = <&imx678_clk_0>;
        clock-names = "xclk";

        VANA-supply = <&imx678_vana_0>;
        VDIG-supply = <&imx678_vdig_0>;
        VDDL-supply = <&imx678_vddl_0>;

        reset-gpios = <&tca6424_camera0 0 0>;
        boot-gpios = <&tca6424_camera0 6 0>;

        camera_mipi_lanes = <2>;
        cam_fw_name = "imx678_cam_fw.bin";

        port@1 {
            cam00out: endpoint@0 {
                clock-lanes = <0>;
                data-lanes = <1 2>;
                link-frequencies = /bits/ 64 <1040000000>;
                remote-endpoint = <&csi00in>;
                clock-continuous;
            };
        };
    };
};
